* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', 'sans-serif';
}

body{
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
}

.main .box {
    height: 90vh;
    /* 90 */
    width: 100%;
    opacity: 0.68;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    color: red;
    /* height: 74px; */
    width: 133px;
    position: relative;
    z-index: 10;
    /* margin: 45px; */
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel sans', sans-serif;    
    height: calc(100% - 22%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 27px;
    padding: 0 30px;
}

.hero> :nth-child(1){
    font-family: 'poppins', 'sans-serif';
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.seperation{
    height: 7px;
    background-color: rgb(46, 44, 44);
}

.btn{
    /* margin: 85px 4px; */
    padding: 9px 24px;
    /* padding: 3px 8px; */
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    color: white;
    border: 1px solid rgba(212, 208, 208, 0.789);
    cursor: pointer;
    background-color: rgba(248, 243, 243, 0.021);
}

.btn-red{
    background-color: red;
    color: white;
    border-radius: 6px;
    padding: 3px 24px;
    font-size: 20px;
    font-weight: 400;
    border: none;
}

.btn-red-sm{
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 20px;
    margin: 35px 15px;
}

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input{
    border-radius: 4px;
    padding: 7px 101px 8px 14px;
    font-weight: 900;
    font-size: 12px;
    color: white;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 239, 239, 0.5);
}

.first{
    /* font-family: 'Martel sans', sans-serif;     */
    display: flex;
    max-width: 70vw;
    /* max-height: 120vh; */
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}



.secImg{
    position: relative;
}

.secImg img{
    /* top: 32px; */
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video{
    position: absolute;
    /* top: 32px; */
    top: 51px;
    width: 554px;
    right: 0;
}

section.first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first > div :nth-child(1){
    /* font-family: 'poppins', 'sans-serif'; */
    font-size: 48px;
    font-weight: bolder;
}

section.first > div :nth-child(2){
    /* font-family: 'poppins', 'sans-serif'; */
    font-size: 24px;
    font-weight: 200;
    /* font-weight: bolder; */
}

.faq h2{
    text-align: center;
    /* margin: 20px 0; */
    font-size: 48px;
}

.faq{
    background: black;
    color: white;
    padding: 32px;
    margin: 30px;
}

.faqbox:hover{
    background-color: #414141;
}

.faqbox svg{
    filter: invert(1);
}

.faqbox{
    transition: all 1s ease-out;
    display: flex;
    font-size: 22px;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 70vw;
    font-weight: bolder;
    margin: 8px auto ;
    cursor: pointer;
}

footer{
    color: white;
    max-width: 80vw;
    margin: auto;
    padding: 14px;
}

footer .questions{
    padding: 34px 0;   
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width:1300px) {
    nav{
        max-width: 90vw;
    }
    .first{
        flex-wrap: wrap;
    }
    .secImg img{
        width: 305px;
    }
    .secImg video{
        width: 305px;
    }
    .hero> :nth-child(1){
        font-size: 32px;
    }
    .hero> :nth-child(2){
        font-size: 18px;
    }
    .hero> :nth-child(3){
        font-size: 18px;
    }

    /* .main input{
        padding: 7px 53px8px 14px;
    } */

    .hero-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    .faq h2{
        text-align: center;
        font-size: 32px;
    }
    footer{
        max-width: 90vw;
    }
    .footer-item{
        align-items: center;
    }
    .foot{
        padding: 20px;
        margin: 0 53px;
        font-size: 20px;
        /* text-align: left; */
    }
    .faqbox{
        max-width: 70vw;
        text-align: center;
    }
}

@media screen and (max-width:1300px) {
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        gap: 25px;
    }
}

.footer a{
    font-size: 13px;
    color: white;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.foot{
    padding: 22px 0;
    font-size: 14px;
}

